 /*Styles*/
 *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
  
/*Eventos*/ 
.eventosContainer{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white; 
}

.eventosHome{
    width: 100%;
    height: calc(100vh - 7rem);
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

.eventImagen{
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eventImagen img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.eventInfo{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap:1rem;
}

.eventInfo h1{
    width: 80%;
    height: fit-content;
    font-size: 35px;
    color: #002858; 
    display: flex;
    justify-content: start;
    align-items: center;
}

.eventInfo p{
    width: 90%; 
    height: 50%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    text-align: start;
    color: rgb(90, 85, 85);
    line-height: 1.5;
}

.cardEvents{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: white;
}

.nabvar{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: rgb(240, 239, 239);
}

.nabvar button{
    width: 120px;
    height: 2.5rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #002858;
    color: white;
    border-style: none;
    border-radius: 100px;
    transition: 500ms;
}

.nabvar button:hover{
    color: #002858;
    border: solid 1px #002858;
    background: white;
    transition: 500ms;
}

/*Contenido*/
.content{
    width: 100%;
    height: 90%;    
}

.contentCard{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3 , 320px);
    grid-template-rows: 500px 500px;
    justify-content: space-around;
    align-items: center;
    place-items: center;
    grid-gap:2rem;
    padding: 20px;
    background: rgb(240, 239, 239);
}

.exjson{
  width: 320px;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: white;
  box-shadow: 0px 0px 3px #002858;
  border: solid 1px #002858;
  border-radius: 10px;
}

.exjson h2{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #002858; 
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
} 

.exjson p{
   width: 90%;
   height: 50%;
   color: rgb(90, 85, 85);
   text-align: start;
   line-height: 1.5;
   font-size: 15px;
   padding-top: 10px;
}

.exjson img{
    width: 90%;
    height: 30%;
    object-fit: cover;
}

/*premios*/
.premios{
   width: 100%;
   height: fit-content;
   display: flex;
   justify-content: center;
   align-items: center;
}

.premio{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
.fotoEvento{
    width: fit-content;
    height: fit-content;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 20px;
    border: solid 1px #ccc;
}

.fotoEvento img{
    width: 350px;
    height: 500px;
    border-radius: 20px;
    object-fit: cover;
}

.premioTitulo{
    width: 40%; 
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 2rem;
}

.premioTitulo h2{
    color: #fd5308;
}

/*Responcive Desing*/

@media(max-width: 1320px){
    .eventosHome{
        height: fit-content;
        gap:2rem;
        flex-direction: column;
    }

    .eventImagen{
         width: 100%;
         height: 40%;
    }

    .eventImagen img{
        height: 100%;
        object-fit: cover;
    }

    .eventInfo{
        width: 50%;
        height: 50%;
    }

    .contentCard{
        grid-template-columns: repeat(2 , 320px);
        grid-template-rows: 500px 500px;    
    }

    .nabvar{
        width: 90%;
        background: none;
    }
}

@media(max-width: 720px){
    .eventInfo{
        width: 90%;
        height: 50%;
    }
    
    .contentCard{
        grid-template-columns: repeat(1, 320px);
        grid-template-rows: 500px 500px 500px 500px;    
    }
}