/*Styles*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*Header*/
.header{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white; 
}

.logo{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.op{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.burgerRes{
    display: none;
}