/*Styles*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
/*Header*/
.header{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white; 
}
 
.headersup{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #002858;
}

.navbar{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #ccc;
}
 
.tituloHeader{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloHeader h1{
    color: white;
}

.redesHeader p{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.redesHeader svg:hover{
    color: #fd5308;
    transition: 500ms;
}

.redesHeader{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bottonContact{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottonContact button{
    width: 100px;
    height: 2rem;
    border-style:none;
    background: #fd5308;
    border-radius: 20px;
    color:white;
    font-size: 15px;
    transition: 500ms;
}

.bottonContact button:hover{
    background: white;
    color:#fd5308;
    border:solid 2px #fd5308;
    transition: 500ms;
}

.nav{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_item{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #002858;
    transition: 500ms;
} 

.nav_item:hover{
    color: white;
    background: #fd5308;
    transition: 500ms;
}

.op{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.burgerRes{
    display: none;
}

@media(max-width: 720px){
 
    .headersup{
        justify-content: space-between;
    }

    .tituloHeader{
       width: 50%;
    }

    .bottonContact{
        width: 50%;
    }

    .redesHeader{
        display: none;
    }  
    
    .nav{
        width: 100%;
      
    }

    .op{
        display: none;
    }
}

@media(max-width: 500px){
    .headersup{
        flex-direction: column;
    }

    .tituloHeader{
        width: 100%;
        font-size: 12px;
    }

    .buttonContac{
        width: 100%;
    }

    .bottonContact button{
        height: 1.5rem;
    }

    .nav{
        display: none;
    }
}