/*Styles*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
/*ContainerPañol*/
.pañolContent{
    width: 100%;
    height: calc(100vh - 7rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pañolContent h1{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 35px;
    color: #002858; 
}

.pañolHome{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenPañol{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoPañol{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 2rem;
}


.infoPañol p{
    width: 90%; 
    height: 50%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    text-align: start;
    line-height: 1.5;
    color: rgb(90, 85, 85);
}

.infoPañol button{
    width: 50%;
    height: 2.5rem;
    border-style:none;
    background: #fd5308;
    border-radius: 20px;
    color:white;
    font-size: 15px;
    transition: 500ms;
    cursor: pointer; 
}

.infoPañol button:hover{
    background: white;
    color:#fd5308;
    border:solid 2px #fd5308;
    transition: 500ms;
}

/*beneficiosPañol*/
.beneficiosPañol{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
} 

.cardPañol{
    width: 25%;
    height: 70%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; 
    border-radius: 0px 0px 10px 10px;
}

.cardPañol img{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
 
.cardPañol span{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: #002858;
    font-size: 20px;
}

.cardPañol p{ 
    width: 95%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    object-fit: cover;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(90, 85, 85);
}

/*escuelasAdd*/
.escuelasAdd{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    border: dashed 1px #ccc;
}

.escuelasAdd h2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color:#fd5308;
    font-size: 30px;
    transition: 500ms;
}

.escuelasAdd h2:hover{
    font-size: 40px;
    transition: 500ms;
    color: white;
    background: #002858;
    border:solid 1px #002858;
}

.instituciones{
    width: 70%;
    height: 80%;
    display: none;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: 200px;
    justify-content: space-around;
    align-items: center;
    overflow-y: hidden;
    place-items: center;
}

.instituciones img{
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*vistasReales*/

.vistasReales{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vistasReales img{
    height: 210px;
    object-fit: cover;
}

.ejemplo1{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.info p{
    width: 80%;
    height: fit-content;
    color: #002858;
    font-size: 20px;
}

.info span{
    width: 80%;
    font-size: 20px;
    color: rgb(90, 85, 85);
    height: fit-content;
    text-align: start;
}

.info label{
    width: 80%;
    height: fit-content;
    color: #fd5308;
}

.ejemplo2{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.ejemplo3{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Actualizaciones*/ 
.actualizacion{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tituloComunidad{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10%;
}  

.tituloComunidad p{
    width: 300px;
    height: fit-content;
    padding: 10px;
    font-size: 20px;
    color: white;
    background: #002858;
}

.contentAt{ 
    width: 100%;
    height: calc(100vh - 15%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imagen{
    object-fit: cover;
    border: solid 1px #ccc;
}

.infoPet{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 2rem;
}

.infoPet p{
    width: 90%; 
    text-align: start;
    color: rgb(90, 85, 85);
    line-height: 1.5;
}

.titulo{
    font-size: 20px;
    color: #fd5308;
}

.infoPet a{
    color: white;
    text-decoration: none;
    background: #002858;
    width: 20%;
    height: 2.5rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
    cursor: pointer;
}

.infoPet a:hover{
    background: white;
    color: #002858;
    transition: 500ms;
    border: solid 1px #002858;
}

.imagenCelularRes{
    display: none;
}

.imagenRes{
    display: none;
}
 
.imagen{
    object-fit: contain;
}


@media(max-width: 1320px){

    .contentAt{
        flex-direction: column;
    }
    
    .imagen{
        display: none;
    }

    .imagenRes{
        width: 300px;
        height: 500px;
        display: flex; 
        object-fit: contain;
    }

    .infoPet{
        width: 90%;
        height: fit-content;
        padding: 20px;
    }

    .infoPet a{ 
        width: 120px;
        height: 2.5rem;
        background: none;
        color: #002858;
    }

    .pañolContent{
        flex-direction: column;
    }

    .infoPañol p{
        width: 500px;
        text-align: start;
    }

    .infoPañol button{
       width: 200px;
    }
    
    /*BeneficiosPañol*/
    .beneficiosPañol{
        width: 100%;
        height: fit-content;
        padding-top: 20px;
        padding-bottom: 20px;
        flex-direction: column;
    }

    .cardPañol{
        width: 310px;
    }
}

@media(max-width: 720px){
    .instituciones{
        width: 90%;
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: 200px;  
        overflow-x: hidden;
    }

    .escuelasAdd h2:hover{
        font-size: 20px;
    }
    
    .pañolContent{
        justify-content: space-between;
    }

    .infoPañol {
        width: 90%;
        height: 50%;
    }

    .infoPañol p{
        width: 100%;
        font-size: 15px;
        text-align: start;
    }

    .imagenPañol img{
        width: 300px;
        height: 300px;
        object-fit: cover;
    }

    .ejemplo1{
        width: 90%;
        height: fit-content;
        gap: 1rem;
        padding: 20px;
        flex-direction: column;
    }

    .ejemplo1 p{
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ejemplo1 span{
        width: 300px;
        text-align: center;
    }

    .ejemplo1 label{
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }  

    .ejemplo2{
        width: 90%;
        height: fit-content;
        gap: 1rem;
        padding: 20px;
        flex-direction: column;
    }

    .ejemplo2 p{
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ejemplo2 span{
        width: 300px;
        text-align: center;
    }

    .ejemplo2 label{
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }  

    .ejemplo3{
        width: 90%;
        height: fit-content;
        gap: 1rem;
        padding: 20px;
        flex-direction: column;
    }

    .ejemplo3 p{
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ejemplo3 span{
        width: 300px;
        text-align: center;
    }

    .ejemplo3 label{
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }  
}

@media(max-width: 500px){
    .instituciones{
        width: 90%;
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: 200px 200px 200px;  
        overflow-x: hidden;
    }
}