  /*Styles*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans';
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
    src: url('/venia-static/fonts/loto-sans/noto-sans-v12-vietnamese-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('/venia-static/fonts/loto-sans/noto-sans-v12-vietnamese-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/venia-static/fonts/loto-sans/noto-sans-v12-vietnamese-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('/venia-static/fonts/loto-sans/noto-sans-v12-vietnamese-regular.woff') format('woff'), /* Modern Browsers */
        url('/venia-static/fonts/loto-sans/noto-sans-v12-vietnamese-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/venia-static/fonts/loto-sans/noto-sans-v12-vietnamese-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
}
/*petzifyContent*/
.petzifyContent{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

.homePet{
    width: 100%;
    height: calc(100vh - 7rem);
    display: flex;
    justify-content: center;
    align-items: center;
}


 
/*caracteristicasApp*/

.caracteristicasApp{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(67, 231, 67);
}

.imagenMano{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenMano img{
    height: 80%;
    object-fit: cover;
}

.cardMano{
    width: 40%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: 210px;
    justify-content: center;
    align-items: center;
    place-items: center;
    gap: 1rem;
}

.cardItem{
  width: 210px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  border-radius: 10%;
  box-shadow: 0px 0px 10px 1px rgb(175, 173, 173);
  position: relative; 
}

.cardItem p{ 
  width: 80%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  padding-bottom: 30px;
  color: #646060;
  font: 1rem/1.6em 'Noto Sans', Muli, -apple-system, BlinkMacSystemFont, sans-serif; 
}

.cardItem img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    transform: translateZ(20px);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}
